#frame001 {
            background-color: white;
            border: 2px solid #eb8a0c;
            border-radius: 10px;
            width: auto;
            height: auto;
            padding: 5px;
        }

        #color001 {
            color: black;
            font-size: large;
            text-align: left;
        }

        #center001 {
            text-align: center;
        }

        .button001 {
            background-color: #eb8a0c;
            color: white;
            border-radius: 10px;
            padding: 5px;
            cursor: pointer;
        }

        .button002 {
            width: 10px;
            height: 10px;
        }

input{
color: #eb8a0c;
border: none;
border-bottom: 2px solid #eb8a0c;
border-color: #eb8a0c;
outline: #eb8a0c;
}

.stats {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  color: #eb8a0c;
}
.stats span {
  font-weight: 600;
  color: #eb8a0c;
}